body {
    font-family: 'Lato', sans-serif;
}
.header {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #F5FFFA;
    justify-content: space-between;
    border-bottom: 1px solid #e0e0e0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15);
}

.header h2 {
    color: black;
    font-weight: inherit;
    font-family: "Cascadia Mono";
}
.header img {
    margin-right: 10px;
    margin-left: 50px;
}

.header h1 {
    margin: 0;
}

.header-nav {
    display: flex;
    flex-direction: row;
    margin-right: 50px;
}
.header-nav li {
    padding: 10px 20px;
    background: transparent;
    border-radius: 20px;
}

.header-nav li, .header-nav a {
    color: black;
    margin-top: 10px;
    margin-right: 20px;
    transition: all .3s ease;
    text-decoration: none;
    list-style: none;
    font-weight: bold;
}

.header-nav li:hover {
    background: #FFA500;
    color: #fff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    transform: scale(1.1);
}

.header-nav li:active {
    background: #FF8C00;
    box-shadow: none;
    transform: scale(0.9);
}

.portfolio-section {
    display: block;
    margin: 0 auto;
    text-align: center;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #333;
}

.project-buttons {
    width: 50%;
    margin: 25px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
}

.project-buttons li {
    background: transparent;
    margin: 10px 40px;
    border-radius: 10px;
    padding: 10px 20px;
}

.project-buttons li, .project-buttons a {
    color: black;
    transition: all .3s ease;
    text-decoration: none;
    list-style: none;
    font-weight: bold;
}

.project-buttons li:hover {
    background: #FFA500;
    color: #fff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    text-decoration: none;
    transform: scale(1.1);
}

.project-buttons li:active {
    background: #FF8C00;
    box-shadow: none;
    transform: scale(0.9);
}


